<div id="mobile-menu" class="menu-main">
  <div class="menu-trigger">
    <div class="row">
      <div class="col-xs-6 col-lg-6">
        <a href="" id="menu-mobile-btn" class="btn-menu-mobile" ng-click="openMenu()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <div class="col-xs-6 col-lg-6 text-right">
        <a href="" class="btn-menu-mobile">
          <i class="fa fa-calendar"></i>
        </a>
        <a href="">
          <i class="fa fa-comment"></i>
        </a>
      </div>
    </div>
  </div>
  <nav class="menu-wrapper">
    <div class="menu-scroller">
      <ul class="menu">
        <li><a ui-sref="">hola</a></li>
        <li><a ui-sref="">mundo</a></li>
      </ul>
    </div>
  </nav>
</div>
